@charset "utf-8";
/* CSS Document */
#pics{
	text-align: center;
	background-color:antiquewhite;
	width: 80%;
	margin: 0px auto;
}
#pics img{
	width: 600px;
	height: 350px;
}
body{
	background-color: snow;
}
.header{
	font-size: 30px;
	text-align: center;
	color: red;
}
.class1{
	float: right;
}
ul{
	margin-left: 40px;
	float: left;
	list-style-type: none;
	padding-bottom: 6px;
	padding-top: 6px;
}
.li a:link,visited{
	font-weight: bold;
	color: darkgray;
	text-align: center;
	padding: 6px;
	text-decoration: none;
}
.li a:hover,a:active{
	color: dimgray;
}
.cy{
	float: left;
	font-family: Arial,Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 30PX;
	color: black;
}
.foot{
	padding-bottom: 30px;
	padding-top: 30px;
	width: 100%;
	height: 30px;
	position: relative;
}
li{
	padding-left: 10px;
	display: inline;
}
.class2{
	text-align: left;
	margin: auto 200px;
	font-size: 25px;
}
.hre{
	color: darkgray;
	font-weight:bold;
	font-size: 20px;
}